.cards{
display:flex;
gap:20px;
}
.card{
flex:1;
border:1px solid gray;
padding:20px;
background:#f4f4f4;
}
.card{
display:flex;
flex-direction:column;
justify-content:space-between;
}
@media(max-width:768px){
.cards{
flex-direction:column;
}
}