.container{
display:flex;
background:#eee;
}
.item{
background:lightgreen;
padding:20px;
margin:10px;
}
.item1{flex-grow:1;}
.item2{flex-grow:2;}
.item3{order:-1;}
.item4{align-self:flex-end;}
.flexform{
display:flex;
flex-direction:column;
width:300px;
gap:10px;
}