img{
float:left;
margin:10px;
}
.col{
float:left;
width:30%;
background:lightgray;
padding:20px;
margin:10px;
}
.clear{
clear:both;
}
.main{
width:100%;
}
.article{
float:left;
width:70%;
}
.sidebar{
float:right;
width:25%;
background:#ddd;
padding:15px;
}
@media(max-width:768px){
.article,
.sidebar{
float:none;
width:100%;
}
}